<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="./../../../assets/images/logo.png" /></div>
    <div class="list-group list-group-flush">
        <nav>
            <div class="nav-fostrap">
                <ul class="nav">
                    <li>
                        <a href="javascript:;" [routerLink]="['./documents']"><img
                                src="./../../../assets/images/dashboard.svg" /> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" [routerLink]="['./user']"><img
                                src="./../../../assets/images/group.svg" /> List Of Users</a>
                    </li>
                    <li>
                        <a href="javascript:;" [routerLink]="['./user']"><img
                                src="./../../../assets/images/files.svg" /> List Of Files</a>
                    </li>
                    <li>
                        <a href="javascript:;" [routerLink]="['./reports']"><img
                                src="./../../../assets/images/vitals.svg" /> Reports</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/login']"><img
                                src="./../../../assets/images/logout.svg" /> Logout</a>
                    </li>
                </ul>
            </div>
        </nav> <!-- nav closed-->
    </div>
</div>