<div class="wrap">
    <div class="login-align demologin form-bg">		   
         <form class="form-horizontal" action="vij_nrrp_lt1/center_dashboard.php">
                 <div class="heading text-uppercase">Login</div>
             <div class="form-group">
                <input required name="login[username]" type="text" class="form-control un" placeholder="Username" id="exampleInputEmail1">
             </div>
             <div class="form-group">
                 <input required name="login[password]" type="password" class="form-control pw" placeholder="Password">
             </div>
             <div class="form-group">
                 <button type="submit" class="btn btn-default" (click)="login()">SUBMIT</button>
             </div>
         </form>	
   </div>